{% extends "base.html" %}
{% load static %}
{% block title %} Ali M Jaderi {% endblock %}

{% block header %}
    <h1>Ali Moala Jaderi</h1>
    <h2> Backend Devloper | Python & Django & Django REST Framework</h2>
    <p>I am Ali, a back-end developer with a strong passion for building APIs and server-side logic.</p>
    {% if resume %}
        <a href="{{ resume.file.url }}" download>download resume</a>
    {% endif %}
{% endblock %}

{% block skills %}
        <div class="skills-list">

            {% for skill in skills %}

                <div class="skill">

                    <h3>{{ skill.title }}</h3>

                    <ul>

                        {% for value in skill.skills.all %}
                            <li>{{ value }}</li>
                        {% endfor %}

                    </ul>

                </div>

            {% endfor %}

        </div>
{% endblock %}

{% block contact %}

        {% for contact in contacts %}

            {% if contact.kind == "email" %}
                <a href="mailto:{{ contact.value }}">{{ contact.title }}</a>

            {% elif contact.kind == "phone" %}
                <a href="tel:{{ contact.value }}">{{ contact.title }}</a>

            {% elif contact.kind == "link" %}
                <a href="{{ contact.value }}" target="_blank" rel="noopener noreferrer">
                    {{ contact.title }}
                </a>
            {% endif %}

        {% endfor %}

{% endblock  %}

