{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>

    {% block extra_css %}{% endblock %}
</head>

<body class="back-ground">

    <!-- Headline -->
    <header>
        {% block header %}{% endblock %}
    </header>


    <!-- Skills -->
    <section id="skills">
        <h2>Skills</h2>
        {% block skills %}{% endblock %}
    </section>


    <!-- Projects & Articles -->
    <section id="portfolio">

        <a href="#">
            <div class="portfolio-card">
                <h2>Projects</h2>
            </div>
        </a>

        <a href="{% url "article:category-list" %}">
            <div class="portfolio-card">
                <h2>Articles</h2>
            </div>
        </a>

    </section>


    <!-- Get In Touch -->
    <section id="contact">
        <h2>Get In Touch</h2>

        <div class="contact-info">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </section>


    <!-- Copy Writing -->
    <footer>
        <p></p>
    </footer>


    {% block extra_js %}{% endblock %}

</body>
</html>